.col
  display inline-block
  vertical-align top
  width 100%
  padding 0 10px
  &:first-child
    padding-left 0
  &:last-child
    padding-right 0

.left
  text-align left
.right
  text-align right
  
.size1
  width 10%
.size2
  width 20%
.size3
  width 30%
.size4
  width 40%
.size5
  width 50%
.size6
  width 60%
.size7
  width 70%    
.size8
  width 80%
.size9
  width 90%
.size10
  width 100%