.aboutUser
  margin 0 0 20px
  h1
    font-size 2em
    text-transform capitalize

.about
  font-size 1.2em
  line-height 1.3em

.meta
  font-size 1em
  color grey
  margin -0.5em 0
  padding 0
  dt
    width 10%
    display inline-block
    vertical-align top
    margin 0.5em 0
    padding 0
  dd
    width 90%
    display inline-block
    vertical-align top
    margin 0.5em 0
    padding 0