.item
  max-width 250px
  min-width 240px
  min-height 48px
  padding-right 2%
  display inline-block
  vertical-align top
  margin 0 0 30px
  position relative
  // padding-left 4em
  h3
    font-size 1.2em
    margin 0 0 3px
    text-transform capitalize
    word-break break-word
    a
      color #222
  img
    width 3em
    display none //block
    position absolute
    left 0
    top 0

.meta
  white-space nowrap
  color grey
  font-size 0.9em
  a
    color grey
  a + a
    margin-left 10px
